<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="BudBackup2Context" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.253.131;Initial Catalog=BudBackup2test;Persist Security Info=True;User ID=sa;Password=akindo;Pooling=False" />
  </connectionStrings>
  <appSettings>
    <!-- 同期化の時間-->
    <add key="SynchronizingTime" value="4000" />
    <!-- ログ -->
    <add key="LogPath" value="E:\ab" />
   
    <!--SSH 日志路径 以程序启动路径为基本路径即 base+value-->
    <add key="SSHLogPath" value="\SSHLog"/>
  </appSettings>
  <log4net>
    <root>
      <!-- ここではINFOログのレベルを指定 -->
      <level value="ALL" />
      <!-- 下記の何れかを使用
      <level value="OFF " />
      <level value="FATAL" />
      <level value="ERROR" />
      <level value="WARN" />
      <level value="INFO" />
      <level value="DEBUG" />
      <level value="ALL" />
      -->
      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\log_" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="date" />
      <param name="StaticLogFileName" value="false" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="Encoding" value="UTF-8" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="発生時間:%date  スレッドID:[%thread]  ログ等位:[%-5level]  メッセージ: %message%  所属クラス:%logger %file(%line) %class %method%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>