<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BudDBSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="dbserverfile" value="./config/DB.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="targetdb" connectionString="server=192.168.253.131;uid=sa;pwd=akindo;database=BudAllBackup;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <BudDBSync.Properties.Settings>
      <setting name="SleepTime" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="TopNumber" serializeAs="String">
        <value>100</value>
      </setting>
    </BudDBSync.Properties.Settings>
  </applicationSettings>
</configuration>

