<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="ConnString" value="Driver={SQL Server};server=FDB9;uid=sa;pwd=u571@wang;database=BudBackup2;"/>
    <!--<add key="ConnString" value="Driver={MySQL ODBC 5.1 Driver};Server=192.168.254.135;Database=budbackup;UID=root;PWD=58759352;"/>-->
    <add key="servername" value="FDB9"/>
    <add key="dbname" value="BudBackup2"/>
    <add key="dbuser" value="sa"/>
    <add key="dbpwd" value="u571@wang"/>
    <!--<add key="DALPath" value="SQLServerDAL"/>-->
    <add key="DALPath" value="MySQLDAL"/>
    <add key="BLLPath" value="BLL"/>
    <add key="ssbpath" value="C:\Program Files\Skeed\SkeedSilverBullet Service\utils\"/>
    <add key="ssbput" value="C:\Program Files\Skeed\SkeedSilverBullet Service\utils\ssbput.exe"/>
    <add key="ssbapi" value="http://127.0.0.1:9090/silver-bullet/admin/api/rest"/>
    <add key="ssbaccount" value="admin"/>
    <add key="ssbpassword" value="password"/>
    <add key="transfertime" value="8000"/>
    <add key="TransferResultListenTime" value="8000"/>
    <add key="TransferFileorDelTime" value="8000"/>
    <add key="TransferNum" value="5" />
    <add key="minbps" value="262144"/>
    <add key="maxbps" value="1048576000"/>
    <add key="initbps" value="786432"/>
    <add key="SSBTaskMaxNum" value="100"/>
  </appSettings>
  <log4net>
    <root>
      <!-- ここではINFOログのレベルを指定 -->
      <level value="ALL"/>
      <!-- 下記の何れかを使用
      <level value="OFF " />
      <level value="FATAL" />
      <level value="ERROR" />
      <level value="WARN" />
      <level value="INFO" />
      <level value="DEBUG" />
      <level value="ALL" />
      -->
      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\log_"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="date"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="Encoding" value="UTF-8"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="発生時間:%date  スレッドID:[%thread]  ログ等位:[%-5level]  メッセージ: %message%  所属クラス:%logger %file(%line) %class %method%n"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
